<br>
<h1>Profile Match</h1>
<h3>
  WELCOME TO WEDDING VENDOR-FIND A PERFECT PARTNER.
</h3>
<b>Search the table for name, Email ,Address or Number:
  <input id="gfg" type="text"  (keyup)="applyFilter($event)" placeholder="Search Here FirstName">
</b>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table>
        <tr>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Address</th>
          <th>Phone Number</th>
        </tr>
        <tbody id="geeks" *ngFor="let data of tableData; let i as index">
          <tr>
            <td>{{data.firstName}}</td>
            <td>{{data.lastName}}</td>
            <td>{{data.email}}</td>
            <td>{{data.address}}</td>
            <td>{{data.phoneNumber}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>